Repository xline-kv/Xline: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -- --check'
  language: rust
  args: []

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: bash -c 'cargo check --all'
  language: rust
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo test
  description: unit test for the project
  entry: bash -c 'cargo test --all-features --all --lib'
  language: rust
  pass_filenames: false

cargo-sort:
  name: Check Cargo.toml is sorted
  description: Ensure Cargo.toml is sorted
  entry: bash -c 'cargo sort --workspace'
  language: rust
  pass_filenames: false

cargo-hakari:
  name: Check if workspace-hack works correctly
  description: Ensure workspace-hack works correctly
  entry: bash -c 'cargo hakari generate --diff && cargo hakari manage-deps --dry-run && cargo hakari verify'
  language: rust
  pass_filenames: false

refactor: refactor to add xline to simulation's dependencies
  Cargo.lock
  simulation/Cargo.toml
  xline-client/src/clients/auth.rs
  xline-client/src/clients/cluster.rs
  xline-client/src/clients/lease.rs
  xline-client/src/clients/maintenance.rs
  xline-client/src/clients/watch.rs
  xline-client/src/lib.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

chore: add todo comment
  simulation/src/xline_group.rs
  simulation/tests/it/xline.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: add tracing logs
  curp/src/server/storage/wal/pipeline.rs
  curp/src/server/storage/wal/segment.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: add tracing logs to WAL
  curp/src/server/storage/wal/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: file alloc will fsync before return
  curp/src/server/storage/wal/util.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: WAL decoding logic
  curp/src/server/storage/wal/codec.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: WAL log
  curp/src/server/storage/wal/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

test: add WAL simulation tests
  curp/src/server/storage/wal/mod.rs
  curp/src/server/storage/wal/sim_tests/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: pipeline create and drop logic
  curp/src/server/storage/wal/mod.rs
  curp/src/server/storage/wal/pipeline.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: WAL recovery log truncation logic
  curp/src/server/storage/wal/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

WIP: wal sim tests
  curp/src/server/storage/wal/segment.rs
  curp/src/server/storage/wal/sim_tests/mod.rs
  curp/src/server/storage/wal/sim_tests/power_failure.rs
  curp/src/server/storage/wal/sim_tests/silent_corruption.rs
  curp/src/server/storage/wal/tests.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: share `KvStoreInner` between `KvStore` and `KvWatcher`
  curp/src/server/curp_node.rs
  xline/src/server/watch_server.rs
  xline/src/server/xline_server.rs
  xline/src/storage/kv_store.rs
  xline/src/storage/kvwatcher.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: update servers type to `Vec`
  xline-test-utils/src/lib.rs
  xline/src/storage/kv_store.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: shutdown cluster before drop runtime
  xline-test-utils/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: move get_range_with_opts
  xline/src/storage/kv_store.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: add WAL file utils
  Cargo.lock
  curp/Cargo.toml
  curp/src/server/storage/mod.rs
  curp/src/server/storage/wal/mod.rs
  curp/src/server/storage/wal/util.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

feat: add wal errors
  curp/src/server/storage/wal/error.rs
  curp/src/server/storage/wal/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

test: refactor file lock test
  curp/src/server/storage/wal/util.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: implement WAL codec
  curp/src/log_entry.rs
  curp/src/rpc/mod.rs
  curp/src/server/storage/wal/codec.rs
  curp/src/server/storage/wal/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: add dns support
  Cargo.lock
  utils/Cargo.toml
  utils/src/lib.rs
  xline/src/main.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

chore: fix curp test
  curp/src/rpc/mod.rs
  curp/src/server/curp_node.rs
  simulation/src/curp_group.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: refactor curp error
  curp/src/client.rs
  curp/src/error.rs
  curp/src/rpc/connect.rs
  curp/src/rpc/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/mod.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/tests.rs
  curp/tests/it/server.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: some changes in codec
  curp/src/server/storage/wal/codec.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: fix ce event tx logs
  curp/src/server/cmd_worker/conflict_checked_mpmc.rs
  curp/src/server/cmd_worker/mod.rs
  utils/src/shutdown.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: replace IS_LEADER env with INIT_LEADER env
  scripts/quick_start.sh
  scripts/start_xline.sh
Due: none

refactor: boot up xline server from env
  scripts/quick_start.sh
  scripts/start_xline.sh
Due: none

chore: update mergify
  .mergify.yml
Due: none

doc: move img/ into doc/
  README.md
  doc/img/cncf-logo.png
  doc/img/xline-key-perf.png
  doc/img/xline_test_deployment.jpg
Due: none

chore: remove merge queue
  .github/workflows/merge_queue.yml
  .github/workflows/pull_request.yml
Due: none

ci: optimize ci
  .github/workflows/benchmark.yml
  .github/workflows/cache_clean.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/merge_queue.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  ci/build-env.sh
  ci/scripts/check-trailing-spaces.sh
Due: none

ci: move cross stuff
  .github/scripts/install_deps.sh
  ci/cross/Dockerfile.aarch64-unknown-linux-gnu
  ci/cross/Dockerfile.x86_64-unknown-linux-gnu
  ci/scripts/install_macos_deps.sh
Due: none

ci: add matrix
  .github/workflows/pull_request.yml
Due: none

Path conditions:
  cargo-fmt: any of: ^(?!abi)\.rs$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-sort: any of: Cargo\.toml
  cargo-hakari: any of: Cargo\.(toml|lock)
