Repository xline-kv/Xline: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-sort, cargo-hakari, cargo machete

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -- --check'
  language: rust
  args: []

cargo-sort:
  name: Check Cargo.toml is sorted
  description: Ensure Cargo.toml is sorted
  entry: bash -c 'cargo sort --workspace'
  language: rust
  pass_filenames: false

cargo-hakari:
  name: Check if workspace-hack works correctly
  description: Ensure workspace-hack works correctly
  entry: bash -c 'cargo hakari generate --diff && cargo hakari manage-deps --dry-run && cargo hakari verify'
  language: rust
  pass_filenames: false

cargo machete:
  name: Check if all dependencies are used
  description: Ensure no unused dependencies in /crates increase compiling time
  entry: bash -c 'cargo machete --fix crates/'
  language: rust
  pass_filenames: false

refactor: reimplement curp follower replication
  crates/curp/src/server/curp_node/member_impl.rs
  crates/curp/src/server/curp_node/mod.rs
  crates/curp/src/server/curp_node/replication.rs
  crates/curp/src/server/raw_curp/mod.rs
  crates/curp/src/server/raw_curp/node_state.rs
Due: none

refactor: enable new replication implementation
  Cargo.lock
  crates/curp/Cargo.toml
  crates/curp/src/server/curp_node/member_impl.rs
  crates/curp/src/server/curp_node/mod.rs
  crates/curp/src/server/curp_node/replication.rs
Due: cargo-sort, cargo-hakari, cargo machete

chore: move replication state update logic to `RawCurp`
  crates/curp/src/server/curp_node/replication.rs
  crates/curp/src/server/raw_curp/mod.rs
  crates/curp/src/server/raw_curp/replication.rs
Due: none

test: add tests for CurpNode
  crates/curp/src/server/curp_node/member_impl.rs
  crates/curp/src/server/curp_node/mod.rs
  crates/curp/src/server/raw_curp/member_impl.rs
  crates/curp/src/server/raw_curp/mod.rs
  crates/curp/src/server/raw_curp/node_state.rs
  crates/utils/src/barrier/id.rs
  crates/utils/src/task_manager/mod.rs
Due: none

test: rewrite tests for log replication
  crates/curp/src/server/raw_curp/replication.rs
  crates/curp/src/server/raw_curp/tests.rs
Due: none

feat: implement wait learner on curp client
  crates/curp/src/client/connect.rs
  crates/curp/src/client/keep_alive.rs
  crates/curp/src/client/retry.rs
  crates/curp/src/client/unary/mod.rs
  crates/curp/src/rpc/connect/lazy.rs
  crates/curp/src/rpc/connect/mod.rs
  crates/curp/src/rpc/reconnect.rs
  crates/xline-client/src/clients/cluster.rs
  crates/xline-client/src/clients/mod.rs
  crates/xline-client/src/lib.rs
Due: none

refactor: remove old replication code
  crates/curp/src/rpc/mod.rs
  crates/curp/src/server/curp_node/member_impl.rs
  crates/curp/src/server/curp_node/mod.rs
  crates/curp/src/server/raw_curp/mod.rs
  crates/curp/src/server/raw_curp/node_state.rs
  crates/curp/src/server/raw_curp/tests.rs
Due: none

test: add membership change curp integration tests
  crates/curp/tests/it/server.rs
Due: none

chore: do not convert tonic::Status to CurpError in replication send methods
  crates/curp/src/server/curp_node/replication.rs
Due: none

fix: do not use InnerConnectApi::id because it's deprecated
  crates/curp/src/server/curp_node/replication.rs
Due: none

fix: leader should abort replication on step down
  crates/curp/src/server/curp_node/member_impl.rs
  crates/curp/src/server/curp_node/replication.rs
Due: none

fix: update role using latest membership
  crates/curp/src/server/curp_node/member_impl.rs
  crates/curp/src/server/raw_curp/member_impl.rs
Due: none

refactor: client retry
  crates/curp/src/client/cluster_state.rs
  crates/curp/src/client/keep_alive.rs
  crates/curp/src/client/retry.rs
Due: none

fix
  crates/curp/src/server/raw_curp/member_impl.rs
Due: none

fix: do not abort unary request when client id expires
  crates/curp/src/client/keep_alive.rs
  crates/curp/src/client/retry.rs
Due: none

fix: pass leader_id and term to build_membership_response
  crates/curp/src/server/curp_node/member_impl.rs
  crates/curp/src/server/curp_node/mod.rs
Due: none

fix: only append to MembershipState when the index is greater
  crates/curp/src/member.rs
Due: none

refactor: remove self_next_index
  crates/curp/src/server/curp_node/replication.rs
Due: none

fix: update next index to last_log_index instead
  crates/curp/src/server/raw_curp/mod.rs
Due: none

fix: Fixed the issues that use many '/tmp/xxx' as temp directory
  Cargo.lock
  crates/engine/Cargo.toml
  crates/engine/src/proxy.rs
  crates/engine/src/rocksdb_engine/mod.rs
  crates/xline/Cargo.toml
  crates/xline/src/server/maintenance.rs
  crates/xline/src/storage/db.rs
Due: cargo-sort, cargo-hakari, cargo machete

fix: Format proxy.rs file
  crates/engine/src/proxy.rs
Due: none

feat(simulation): add txn support
  crates/simulation/src/xline_group.rs
Due: none

feat: intergrate jepsen-rs
  .gitignore
  .gitmodules
  Cargo.lock
  crates/simulation/Cargo.toml
  crates/simulation/src/xline_group.rs
  crates/simulation/tests/it/jepsen/basic.rs
  crates/simulation/tests/it/jepsen/mod.rs
  crates/simulation/tests/it/main.rs
Due: cargo-sort, cargo-hakari, cargo machete

fix too many changes in Cargo.lock
  Cargo.lock
Due: cargo-hakari

fix: shutdown cluster test timeout
  crates/curp/tests/it/server.rs
Due: none

fix: task manager panic
  crates/curp/tests/it/common/curp_group.rs
  crates/curp/tests/it/server.rs
  crates/utils/src/task_manager/mod.rs
  crates/utils/src/task_manager/tasks.rs
  crates/xline/src/server/watch_server.rs
Due: none

chore: remove redundant stuff
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/workflows/benchmark.yml
  .github/workflows/validation.yml
  CHANGELOG.md
  USAGE.md
Due: none

feat(jepsen): update to newest jepsen-rs crate
  .gitmodules
  Cargo.lock
  crates/simulation/Cargo.toml
  crates/simulation/src/xline_group.rs
  crates/simulation/tests/it/jepsen/basic.rs
  crates/simulation/tests/it/xline.rs
Due: cargo-sort, cargo-hakari, cargo machete

chore: replace hardcoding /tmp/xxx path
  Cargo.lock
  crates/engine/Cargo.toml
  crates/engine/src/proxy.rs
  crates/engine/src/rocksdb_engine/mod.rs
  crates/xline/Cargo.toml
  crates/xline/src/storage/db.rs
Due: cargo-sort, cargo-hakari, cargo machete

refactor(xlineapi): introduce BytesAffineRef and KeyRangeRef
  crates/xline/src/storage/index.rs
  crates/xline/src/storage/kv_store.rs
  crates/xlineapi/src/keyrange.rs
Due: none

refactor(xlineapi): add tests for KeyRange conflict check
  Cargo.lock
  crates/utils/Cargo.toml
  crates/utils/src/parser.rs
  crates/xline-client/src/clients/lock.rs
  crates/xline-client/src/types/kv.rs
  crates/xline-client/src/types/range_end.rs
  crates/xline-client/src/types/watch.rs
  crates/xline/src/conflict/mod.rs
  crates/xline/src/conflict/spec_pool.rs
  crates/xline/src/conflict/uncommitted_pool.rs
  crates/xline/src/server/command.rs
  crates/xline/src/server/lock_server.rs
  crates/xline/src/server/watch_server.rs
  crates/xline/src/storage/auth_store/perms.rs
  crates/xline/src/storage/auth_store/store.rs
  crates/xline/src/storage/index.rs
  crates/xline/src/storage/kv_store.rs
  crates/xline/src/storage/kvwatcher.rs
  crates/xline/src/storage/lease_store/mod.rs
  crates/xlineapi/Cargo.toml
  crates/xlineapi/src/command.rs
  crates/xlineapi/src/interval.rs
  crates/xlineapi/src/keyrange.rs
  crates/xlineapi/src/lib.rs
  crates/xlineapi/src/request_validation.rs
Due: cargo-sort, cargo-hakari, cargo machete

refactor(xlineapi): add cache for conflict rule
  Cargo.lock
  crates/xlineapi/Cargo.toml
  crates/xlineapi/src/classifier.rs
  crates/xlineapi/src/command.rs
Due: cargo-sort, cargo-hakari, cargo machete

refactor(xlineapi): improve is_conflict
  crates/xlineapi/src/classifier.rs
  crates/xlineapi/src/command.rs
  crates/xlineapi/src/lib.rs
Due: none

refactor(xlineapi): use function instead of convertion; use thread_local
  crates/xline/src/server/command.rs
  crates/xlineapi/src/classifier.rs
  crates/xlineapi/src/command.rs
  crates/xlineapi/src/lib.rs
Due: none

refactor(keyrange): use generic type instead BytesAffineRef
  crates/xlineapi/src/keyrange.rs
Due: none

fix(deps): remove redundant dep
  Cargo.lock
  crates/xlineapi/Cargo.toml
Due: cargo-sort, cargo-hakari, cargo machete

chore: miss a hardcoding /tmp/xxx path
  crates/xline/src/server/maintenance.rs
Due: none

chore: check the code format
  crates/xline/src/server/maintenance.rs
Due: none

fix: try_become_leader_now should also call respawn_replication
  crates/curp/src/server/curp_node/mod.rs
Due: none

Path conditions:
  cargo-fmt: any of: ^(?!abi)\.rs$
  cargo-sort: any of: Cargo\.toml
  cargo-hakari: any of: Cargo\.(toml|lock)
  cargo machete: any of: Cargo\.toml
