Repository xline-kv/Xline: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.0
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -- --check'
        language: rust
        files: ^(?!abi)\.rs$
        args: [ ]
      - id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: bash -c 'cargo check --all'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: unit test for the project
        entry: bash -c 'cargo test --all-features --all --lib'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: conventional-commit-msg-validation
        name: commit message conventional validation
        language: pygrep
        entry: '^(breaking|build|chore|ci|docs|feat|fix|perf|refactor|revert|style|test){1}(\([\w\-\.]+\))?(!)?: ([\w `])+([\s\S]*)'
        args: [ --multiline, --negate ]
        stages: [ commit-msg ]
      - id: commit-msg-needs-to-be-signed-off
        name: commit message needs to be signed off
        language: pygrep
        entry: '^Signed-off-by:'
        args: [ --multiline, --negate ]
        stages: [ commit-msg ]
      - id: cargo-sort
        name: Check Cargo.toml is sorted
        description: Ensure Cargo.toml is sorted
        entry: bash -c 'cargo sort --workspace'
        language: rust
        files: Cargo\.toml
        pass_filenames: false
      - id: cargo-hakari
        name: Check if workspace-hack works correctly
        description: Ensure workspace-hack works correctly
        entry: bash -c 'cargo hakari generate --diff && cargo hakari manage-deps --dry-run && cargo hakari verify'
        language: rust
        files: Cargo\.(toml|lock)
        pass_filenames: false

chore: remove pre commit check & test
  .pre-commit-config.yaml
Due: none

chore: notify user of docker network
  scripts/benchmark.sh
  scripts/quick_start.sh
Due: none

chore: naming stuff
  .github/workflows/docker_image.yml
  .github/workflows/gen_release_note.yml
  .github/workflows/merge_image.yml
Due: none

chore: upload xline logs if validation failed
  .github/workflows/validation.yml
  scripts/quick_start.sh
  scripts/start_xline.sh
  scripts/validation_test.sh
Due: none

chore: fix hakari
  Cargo.lock
  workspace-hack/Cargo.toml
Due: cargo-sort, cargo-hakari

refactor: refactor curp error
  curp/src/server/curp_node.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: remove some unnecessary trait bound
  curp-external-api/src/cmd.rs
  curp-external-api/src/role_change.rs
  curp/src/client.rs
  curp/src/rpc/mod.rs
  curp/src/server/cmd_worker/conflict_checked_mpmc.rs
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/gc.rs
  curp/src/server/mod.rs
  curp/src/server/raw_curp/log.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/tests.rs
  curp/src/server/spec_pool.rs
  curp/src/server/storage/db.rs
  simulation/src/curp_group.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: code smell stuff
  curp/src/rpc/mod.rs
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/curp_node.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: rebase on latest
  curp/src/log_entry.rs
  curp/src/server/storage/wal/codec.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: fix madsim test
  curp-external-api/src/cmd.rs
  curp-test-utils/src/test_cmd.rs
  curp/src/lib.rs
  simulation/src/curp_group.rs
  simulation/tests/it/curp/server_recovery.rs
  xline/src/server/command.rs
  xlineapi/src/command.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: rebase on master
  curp/src/rpc/connect.rs
  curp/src/server/curp_node.rs
  curp/src/server/mod.rs
  xline-client/src/clients/auth.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: move propose id generation logic
  curp-external-api/src/cmd.rs
  curp-test-utils/src/test_cmd.rs
  curp/src/client.rs
  curp/src/log_entry.rs
  curp/src/rpc/mod.rs
  curp/src/server/cmd_worker/conflict_checked_mpmc.rs
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/gc.rs
  curp/src/server/mod.rs
  curp/src/server/raw_curp/log.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/state.rs
  curp/src/server/raw_curp/tests.rs
  curp/src/server/spec_pool.rs
  curp/src/server/storage/db.rs
  curp/tests/it/common/curp_group.rs
  curp/tests/it/read_state.rs
  curp/tests/it/server.rs
  xline-client/src/clients/auth.rs
  xline-client/src/clients/kv.rs
  xline-client/src/clients/lease.rs
  xline-client/src/clients/lock.rs
  xline/src/server/auth_server.rs
  xline/src/server/barriers.rs
  xline/src/server/cluster_server.rs
  xline/src/server/command.rs
  xline/src/server/kv_server.rs
  xline/src/server/lease_server.rs
  xline/src/server/lock_server.rs
  xline/src/server/xline_server.rs
  xline/src/storage/compact/mod.rs
  xlineapi/src/command.rs
  xlineapi/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: move propose id into curp
  curp-external-api/src/cmd.rs
  curp/src/client.rs
  curp/src/log_entry.rs
  curp/src/rpc/mod.rs
  curp/src/server/cmd_board.rs
  curp/src/server/cmd_worker/conflict_checked_mpmc.rs
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/gc.rs
  curp/src/server/raw_curp/log.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/spec_pool.rs
  curp/src/server/storage/db.rs
  curp/tests/it/common/curp_group.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: add inflight id
  curp-external-api/src/cmd.rs
  curp-external-api/src/lib.rs
  curp-test-utils/src/test_cmd.rs
  curp/src/client.rs
  curp/src/lib.rs
  curp/src/log_entry.rs
  curp/src/members.rs
  curp/src/rpc/connect.rs
  curp/src/rpc/mod.rs
  curp/src/server/cmd_worker/conflict_checked_mpmc.rs
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/gc.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/tests.rs
  curp/tests/it/common/curp_group.rs
  curp/tests/it/server.rs
  xline/src/server/barriers.rs
  xline/src/server/cluster_server.rs
  xline/src/server/command.rs
  xline/src/server/kv_server.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: fix mergify
  .github/workflows/pull_request.yml
  .mergify.yml
  Cargo.lock
  workspace-hack/Cargo.toml
Due: cargo-sort, cargo-hakari

fix: hakari fix
  Cargo.lock
  workspace-hack/Cargo.toml
Due: cargo-sort, cargo-hakari

chore: hash inflight id
  curp/src/log_entry.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: fix compact physical logic
  Cargo.lock
  simulation/Cargo.toml
  simulation/src/xline_group.rs
  simulation/tests/it/xline.rs
  xline/src/server/command.rs
  xline/src/server/kv_server.rs
  xline/src/server/xline_server.rs
  xline/src/storage/kv_store.rs
  xlineapi/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

chore: add timeout for physical compact request
  utils/src/config.rs
  xline/src/main.rs
  xline/src/server/kv_server.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: client will send physical compact request to business server
  xline-client/src/clients/kv.rs
  xline-client/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: use `Dashmap<_,_>` instead of `RwLock<HashMap<_,_>>`
  Cargo.lock
  xline/Cargo.toml
  xline/src/server/command.rs
  xline/src/server/kv_server.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

refactor: add compact_id to process physical compact
  xline/src/server/command.rs
  xline/src/server/kv_server.rs
  xlineapi/src/command.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: fix mergify
  .github/workflows/pull_request.yml
  .mergify.yml
Due: none
