Repository xline-kv/Xline: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.0
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -- --check'
        language: rust
        files: ^(?!abi)\.rs$
        args: [ ]
      - id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: bash -c 'cargo check --all'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: unit test for the project
        entry: bash -c 'cargo test --all-features --all --lib'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: conventional-commit-msg-validation
        name: commit message conventional validation
        language: pygrep
        entry: '^(breaking|build|chore|ci|docs|feat|fix|perf|refactor|revert|style|test){1}(\([\w\-\.]+\))?(!)?: ([\w `])+([\s\S]*)'
        args: [ --multiline, --negate ]
        stages: [ commit-msg ]
      - id: commit-msg-needs-to-be-signed-off
        name: commit message needs to be signed off
        language: pygrep
        entry: '^Signed-off-by:'
        args: [ --multiline, --negate ]
        stages: [ commit-msg ]
      - id: cargo-sort
        name: Check Cargo.toml is sorted
        description: Ensure Cargo.toml is sorted
        entry: bash -c 'cargo sort --workspace'
        language: rust
        files: Cargo\.toml
        pass_filenames: false
      - id: cargo-hakari
        name: Check if workspace-hack works correctly
        description: Ensure workspace-hack works correctly
        entry: bash -c 'cargo hakari generate --diff && cargo hakari manage-deps --dry-run && cargo hakari verify'
        language: rust
        files: Cargo\.(toml|lock)
        pass_filenames: false

feat: make quota configable
  curp-test-utils/src/test_cmd.rs
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/storage/db.rs
  curp/tests/it/common/curp_group.rs
  utils/src/config.rs
  xline-test-utils/src/lib.rs
  xline/src/main.rs
  xline/src/server/maintenance.rs
  xline/src/server/watch_server.rs
  xline/src/server/xline_server.rs
  xline/src/storage/auth_store/store.rs
  xline/src/storage/db.rs
  xline/src/storage/kv_store.rs
  xline/src/storage/kvwatcher.rs
  xline/src/storage/lease_store/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: abstract QuotaChecker
  curp-external-api/src/cmd.rs
  curp-test-utils/src/test_cmd.rs
  curp/src/server/curp_node.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/tests.rs
  xline/src/server/command.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: add quota check to propose and apply
  curp-external-api/src/cmd.rs
  curp-test-utils/src/test_cmd.rs
  curp/src/server/curp_node.rs
  xline/src/server/command.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: fix madsim tests
  curp-test-utils/src/test_cmd.rs
  curp/src/server/cmd_worker/mod.rs
  curp/tests/it/common/curp_group.rs
  simulation/src/curp_group.rs
  xline-client/src/clients/maintenance.rs
  xline/tests/it/maintenance_test.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: suppotr alarm
  curp-external-api/src/cmd.rs
  curp-test-utils/src/test_cmd.rs
  curp/src/server/curp_node.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/tests.rs
  engine/src/proxy.rs
  xline-client/src/clients/maintenance.rs
  xline-test-utils/src/lib.rs
  xline/src/server/command.rs
  xline/src/server/maintenance.rs
  xline/src/server/xline_server.rs
  xline/src/storage/alarm_store.rs
  xline/src/storage/db.rs
  xline/src/storage/mod.rs
  xline/tests/it/maintenance_test.rs
  xlineapi/src/command.rs
  xlineapi/src/execute_error.rs
  xlineapi/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: refactor curp error
  curp/src/client.rs
  curp/src/error.rs
  curp/src/rpc/connect.rs
  curp/src/rpc/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/mod.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/tests.rs
  curp/tests/it/server.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: fix curp test
  curp/src/rpc/mod.rs
  curp/src/server/curp_node.rs
  simulation/src/curp_group.rs
Due: cargo-check, cargo-clippy, cargo-test

ci: remove validation_lock_client compile in validation action
  .github/workflows/validation.yml
Due: none

chore: generate rsa key pair in ci process
  .github/workflows/validation.yml
Due: none

refactor: remove rsa key pair in our code base
  Cargo.lock
  workspace-hack/Cargo.toml
  xline-test-utils/Cargo.toml
  xline-test-utils/private.pem
  xline-test-utils/public.pem
  xline-test-utils/src/lib.rs
  xline/Cargo.toml
  xline/src/storage/auth_store/store.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

style: format code style
  benchmark/src/bench_client.rs
  utils/src/config.rs
  xline-client/tests/it/auth.rs
  xline-client/tests/it/kv.rs
  xline-client/tests/it/lease.rs
  xline-client/tests/it/lock.rs
  xline-client/tests/it/maintenance.rs
  xline-test-utils/src/lib.rs
  xline/src/storage/auth_store/store.rs
  xlineapi/src/command.rs
  xlineapi/src/execute_error.rs
Due: cargo-check, cargo-clippy, cargo-test

docs: update quick start README doc
  doc/quick-start/README.md
Due: none

ci: move cross stuff
  .github/scripts/install_deps.sh
  ci/cross/Dockerfile.aarch64-unknown-linux-gnu
  ci/cross/Dockerfile.x86_64-unknown-linux-gnu
  ci/scripts/install_macos_deps.sh
Due: none

doc: move img/ into doc/
  README.md
  doc/img/cncf-logo.png
  doc/img/xline-key-perf.png
  doc/img/xline_test_deployment.jpg
Due: none

chore: remove pre commit check & test
  .pre-commit-config.yaml
Due: none

chore: notify user of docker network
  scripts/benchmark.sh
  scripts/quick_start.sh
Due: none

chore: update mergify
  .mergify.yml
Due: none

ci: optimize ci
  .github/workflows/benchmark.yml
  .github/workflows/cache_clean.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/merge_queue.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  ci/build-env.sh
  ci/scripts/check-trailing-spaces.sh
Due: none

chore: naming stuff
  .github/workflows/docker_image.yml
  .github/workflows/gen_release_note.yml
  .github/workflows/merge_image.yml
Due: none

chore: remove merge queue
  .github/workflows/merge_queue.yml
  .github/workflows/pull_request.yml
Due: none

refactor: boot up xline server from env
  scripts/quick_start.sh
  scripts/start_xline.sh
Due: none

ci: add matrix
  .github/workflows/pull_request.yml
Due: none

chore: replace IS_LEADER env with INIT_LEADER env
  scripts/quick_start.sh
  scripts/start_xline.sh
Due: none

chore: move get_range_with_opts
  xline/src/storage/kv_store.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: add todo comment
  simulation/src/xline_group.rs
  simulation/tests/it/xline.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: add WAL file utils
  Cargo.lock
  curp/Cargo.toml
  curp/src/server/storage/mod.rs
  curp/src/server/storage/wal/mod.rs
  curp/src/server/storage/wal/util.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

feat: add wal errors
  curp/src/server/storage/wal/error.rs
  curp/src/server/storage/wal/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: implement WAL codec
  curp/src/log_entry.rs
  curp/src/rpc/mod.rs
  curp/src/server/storage/wal/codec.rs
  curp/src/server/storage/wal/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: implement WAL file pipeline
  curp/src/server/storage/wal/mod.rs
  curp/src/server/storage/wal/pipeline.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: implement WAL segments
  curp/src/server/storage/wal/mod.rs
  curp/src/server/storage/wal/segment.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: implement WAL segments remover
  curp/src/server/storage/wal/mod.rs
  curp/src/server/storage/wal/remover.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: implement WAL config
  curp/src/server/storage/wal/config.rs
  curp/src/server/storage/wal/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: bump itertolls to 0.12.0
  Cargo.lock
  curp-test-utils/Cargo.toml
  curp/Cargo.toml
  simulation/Cargo.toml
  workspace-hack/Cargo.toml
  xline/Cargo.toml
  xlineapi/Cargo.toml
Due: cargo-sort, cargo-hakari

feat: implement WAL storage
  curp/src/server/storage/wal/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

test: add WAL storage tests
  curp/src/server/storage/wal/mod.rs
  curp/src/server/storage/wal/tests.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: frame generator in wal storage tests
  curp/src/server/storage/wal/tests.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: donot return corrupt error in wal storage
  curp/src/server/storage/wal/codec.rs
  curp/src/server/storage/wal/error.rs
  curp/src/server/storage/wal/mod.rs
  curp/src/server/storage/wal/segment.rs
Due: cargo-check, cargo-clippy, cargo-test

Update README.md
  xline-client/README.md
Due: none

chore: remove useless modules
  Cargo.lock
  benchmark/src/bench_client.rs
  curp/test.sst
  xline/src/client/mod.rs
  xlineapi/Cargo.toml
  xlineapi/src/etcd_convert.rs
  xlineapi/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

test: add xline madsim test
  benchmark/src/bench_client.rs
  simulation/src/lib.rs
  simulation/src/xline_group.rs
  simulation/tests/it/main.rs
  simulation/tests/it/xline.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test
