Repository xline-kv/Xline: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-test, cargo-sort

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo test
  description: unit test for the project
  entry: bash -c 'cargo test --all-features --all --lib'
  language: rust
  pass_filenames: false

cargo-sort:
  name: Check Cargo.toml is sorted
  description: Ensure Cargo.toml is sorted
  entry: bash -c 'cargo sort --workspace'
  language: rust
  pass_filenames: false

feat: update start logic in xline binary
  curp/src/members.rs
  utils/src/config.rs
  utils/src/lib.rs
  xline/src/main.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: bench client implementation
  Cargo.lock
  benchmark/Cargo.toml
  benchmark/src/bench_client.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort

feat: publish the name of new node to cluster when node start
  curp/src/client.rs
  curp/src/log_entry.rs
  curp/src/members.rs
  curp/src/rpc/connect.rs
  curp/src/rpc/mod.rs
  curp/src/server/cmd_worker/conflict_checked_mpmc.rs
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/mod.rs
  curp/src/server/raw_curp/mod.rs
  curp/tests/common/curp_group.rs
  curp/tests/server.rs
  xline/src/main.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test

test: add xline cluster test and fix some wrong logic
  Cargo.lock
  curp-external-api/src/cmd.rs
  curp-test-utils/src/lib.rs
  curp-test-utils/src/test_cmd.rs
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/raw_curp/state.rs
  curp/tests/server.rs
  xline/Cargo.toml
  xline/src/server/command.rs
  xline/tests/cluster_test.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort

refactor: refactor test cluster and add run_node method
  xline-test-utils/src/lib.rs
  xline/tests/auth_test.rs
  xline/tests/kv_test.rs
  xline/tests/lease_test.rs
  xline/tests/maintenance.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: move timestamp to utils
  curp/tests/server.rs
  utils/src/lib.rs
  xline/src/server/cluster_server.rs
  xline/src/storage/auth_store/perms.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: trigger barriers in a better way
  curp-external-api/src/cmd.rs
  curp-test-utils/src/test_cmd.rs
  curp/src/server/cmd_worker/conflict_checked_mpmc.rs
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/raw_curp/state.rs
  xline-test-utils/src/lib.rs
  xline/src/server/command.rs
  xline/tests/cluster_test.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: update submodule's version and fix test
  curp/tests/common/curp_group.rs
  curp/tests/server.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: refactor curp error
  curp/proto/inner_message.proto
  curp/src/client.rs
  curp/src/error.rs
  curp/src/rpc/connect.rs
  curp/src/rpc/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/mod.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/tests.rs
  curp/tests/server.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: fix curp test
  curp/src/client.rs
  curp/src/rpc/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/raw_curp/mod.rs
  simulation/src/curp_group.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: implement metrics in curp
  Cargo.lock
  curp/Cargo.toml
  curp/src/members.rs
  curp/src/server/curp_node.rs
  curp/src/server/metrics.rs
  curp/src/server/mod.rs
  curp/src/server/raw_curp/log.rs
  curp/src/server/raw_curp/mod.rs
  xline/Cargo.toml
  xline/src/main.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort

feat: add metrics for engine
  Cargo.lock
  curp/Cargo.toml
  curp/src/server/curp_node.rs
  curp/src/server/metrics.rs
  curp/src/server/mod.rs
  engine/Cargo.toml
  engine/src/lib.rs
  engine/src/metrics.rs
  engine/src/proxy.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort

feat: implement metrics server
  Cargo.lock
  curp/Cargo.toml
  curp/src/server/curp_node.rs
  curp/src/server/metrics.rs
  engine/src/metrics.rs
  utils/src/config.rs
  xline/Cargo.toml
  xline/src/lib.rs
  xline/src/main.rs
  xline/src/metrics.rs
  xline/src/server/kv_server.rs
  xline/src/server/lease_server.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort

fix: do not increase cluster_version when new node apply old conf changes
  curp/src/members.rs
  curp/src/server/raw_curp/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

docs: update README.md doc
  README.md
  img/cncf-logo.png
Due: none

chore: update CHANGELOG for release
  CHANGELOG.md
Due: none

docs: update quick start docs and add a membership change example
  doc/quick-start/README.md
  scripts/quick_start.sh
  scripts/validation_test.sh
Due: none

chore: update issue template file
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

ci: checkout submodule in release ci processs
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

ci: pin cargo outdated's version to v0.13.1
  .github/workflows/ci.yml
Due: none

docs: update README and CONTRIBUTING doc
  CONTRIBUTING.md
  README.md
Due: none

feat: support otlp push mode
  Cargo.lock
  utils/src/config.rs
  utils/src/lib.rs
  xline/Cargo.toml
  xline/src/main.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort

ci: fix rust toolchain's version for cargo-outdated
  .github/workflows/ci.yml
Due: none

chore/doc: fix typo
  README.md
Due: none

doc: fix typo and unified etcd writing
  README.md
Due: none

Path conditions:
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-sort: any of: Cargo\.toml and \.toml$
