Repository xline-kv/Xline: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-sort, cargo-hakari, cargo machete

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.0
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -- --check'
        language: rust
        files: ^(?!abi)\.rs$
        args: []
      - id: conventional-commit-msg-validation
        name: commit message conventional validation
        language: pygrep
        entry: '^(breaking|build|chore|ci|docs|feat|fix|perf|refactor|revert|style|test){1}(\([\w\-\.]+\))?(!)?: ([\w `])+([\s\S]*)'
        args: [--multiline, --negate]
        stages: [commit-msg]
      - id: commit-msg-needs-to-be-signed-off
        name: commit message needs to be signed off
        language: pygrep
        entry: "^Signed-off-by:"
        args: [--multiline, --negate]
        stages: [commit-msg]
      - id: cargo-sort
        name: Check Cargo.toml is sorted
        description: Ensure Cargo.toml is sorted
        entry: bash -c 'cargo sort --workspace'
        language: rust
        files: Cargo\.toml
        pass_filenames: false
      - id: cargo-hakari
        name: Check if workspace-hack works correctly
        description: Ensure workspace-hack works correctly
        entry: bash -c 'cargo hakari generate --diff && cargo hakari manage-deps --dry-run && cargo hakari verify'
        language: rust
        files: Cargo\.(toml|lock)
        pass_filenames: false
      - id: cargo machete
        name: Check if all dependencies are used
        description: Ensure no unused dependencies in /crates increase compiling time
        entry: bash -c 'cargo machete --fix crates/'
        language: rust
        files: Cargo\.toml
        pass_filenames: false

chore: update cargo hakari
  Cargo.lock
  workspace-hack/Cargo.toml
Due: cargo-sort, cargo-hakari, cargo machete

chore: transfer utils's interval map impl into dependency
  Cargo.lock
  crates/utils/Cargo.toml
  crates/utils/benches/interval_map.rs
  crates/utils/src/interval_map/mod.rs
  crates/utils/src/interval_map/tests.rs
  crates/utils/src/lib.rs
  crates/xline/src/conflict/spec_pool.rs
  crates/xline/src/conflict/uncommitted_pool.rs
  workspace-hack/Cargo.toml
Due: cargo-sort, cargo-hakari, cargo machete

fix: correct request validation
  crates/utils/src/lca_tree.rs
  crates/utils/src/lib.rs
  crates/xlineapi/src/request_validation.rs
Due: none

refactor(client)!: AuthClient::role_revoke_permission
  crates/xline-client/examples/auth_role.rs
  crates/xline-client/src/clients/auth.rs
  crates/xline-client/src/types/auth.rs
  crates/xline-client/tests/it/auth.rs
  crates/xlinectl/src/command/role/revoke_perm.rs
Due: none

chore: remove unused index from lease_store
  crates/xline/src/server/xline_server.rs
  crates/xline/src/storage/lease_store/mod.rs
Due: none

fix: execute early before after sync
  crates/xline/src/storage/kv_store.rs
Due: none

test: rewrite tests for curp client
  crates/curp/src/client/tests.rs
Due: none

fix: exe_exactly_once_on_leader will only test on leader
  crates/curp/tests/it/common/curp_group.rs
  crates/curp/tests/it/server.rs
Due: none

fix: concurrent_cmd_order_should_have_correct_revision timeout due to serial execution
  crates/curp/tests/it/server.rs
Due: none

fix: use execute_ro to speculative execute read-only commands
  crates/curp-external-api/src/cmd.rs
  crates/curp-test-utils/src/test_cmd.rs
  crates/curp/src/server/cmd_worker/mod.rs
  crates/xline/src/server/command.rs
Due: none

chore: use join_all to concurrently build clients in benchmark
  Cargo.lock
  crates/benchmark/Cargo.toml
  crates/benchmark/src/runner.rs
Due: cargo-sort, cargo-hakari, cargo machete

refactor: disable fast path completely in etcd competible server
  crates/xline/src/server/auth_server.rs
  crates/xline/src/server/kv_server.rs
  crates/xline/src/server/lease_server.rs
  crates/xline/src/server/lock_server.rs
  crates/xline/src/server/maintenance.rs
Due: none

fix: Cargo.lock
  Cargo.lock
Due: cargo-hakari

fix: remove check_members
  crates/curp/src/client/unary.rs
Due: none

fix: generate propose id inside client retry closure
  Cargo.lock
  crates/curp/src/client/retry.rs
  workspace-hack/Cargo.toml
Due: cargo-sort, cargo-hakari, cargo machete

fix: check leader transfer in lease keep alive
  crates/curp/src/server/curp_node.rs
Due: none

chore: remove unecessary txn usage
  crates/xline/src/storage/kv_store.rs
Due: none

fix: update madsim to fix stream early close issue
  Cargo.lock
  Cargo.toml
  workspace-hack/Cargo.toml
Due: cargo-sort, cargo-hakari, cargo machete

fix: lease store revision generation
  crates/xline/src/storage/lease_store/mod.rs
Due: none

refactor: use synchronous compaction in `sync_compaction`
  crates/xline/src/storage/kv_store.rs
Due: none

fix: madsim tests
  crates/curp/src/client/mod.rs
  crates/simulation/src/xline_group.rs
  crates/simulation/tests/it/curp/server_recovery.rs
  crates/xline/src/storage/kv_store.rs
Due: none

fix: use after sync txn and index in lease revoke
  crates/xline/src/server/command.rs
  crates/xline/src/storage/lease_store/mod.rs
Due: none

fix: potential panic in shutdown listener
  crates/curp/src/server/mod.rs
  crates/curp/tests/it/common/curp_group.rs
  crates/utils/src/task_manager/mod.rs
  crates/xline/src/server/lease_server.rs
  crates/xline/src/server/watch_server.rs
  crates/xline/src/server/xline_server.rs
Due: none

fix: only return shutdown error on cluster shutdown
  crates/curp/src/server/curp_node.rs
  crates/curp/src/server/raw_curp/mod.rs
  crates/utils/src/task_manager/mod.rs
Due: none

chore: add version number to eliminate RA warnings
  crates/utils/Cargo.toml
Due: cargo-sort, cargo-hakari, cargo machete

fix: add retry for client initial cluster node discovery
  crates/curp/src/client/mod.rs
Due: none

feat(xline): update engine crate to use tempfile
  Cargo.lock
  crates/engine/Cargo.toml
  crates/engine/src/proxy.rs
  crates/engine/src/rocksdb_engine/mod.rs
Due: cargo-sort, cargo-hakari, cargo machete

fix: enable `off` log level in `parse_log_level`
  crates/utils/src/parser.rs
Due: none

refactor: use default log level env if it exists
  crates/xline/src/utils/trace.rs
Due: none

feat: fixup curp client fetch implementation
  crates/curp/src/client/connect.rs
  crates/curp/src/client/fetch.rs
  crates/curp/src/client/mod.rs
  crates/curp/src/client/retry/mod.rs
Due: none

refactor: update cluster state
  crates/curp/src/client/cluster_state.rs
  crates/curp/src/client/fetch.rs
  crates/curp/src/client/keep_alive.rs
  crates/curp/src/client/tests.rs
  crates/curp/src/client/unary/mod.rs
  crates/curp/src/client/unary/propose_impl.rs
  crates/curp/src/member.rs
Due: none

chore: move retry/mod.rs to retry.rs
  crates/curp/src/client/retry.rs
Due: none

refactor: remove `discover_from` in curp client
  crates/curp/src/client/mod.rs
  crates/curp/tests/it/common/curp_group.rs
  crates/curp/tests/it/server.rs
  crates/xline-client/src/lib.rs
  crates/xline/src/server/xline_server.rs
Due: none

refactor: remove fetch cluster
  crates/curp/src/client/keep_alive.rs
  crates/curp/src/client/retry.rs
  crates/curp/src/client/tests.rs
  crates/curp/src/members.rs
  crates/curp/src/rpc/connect/mod.rs
  crates/curp/src/rpc/mod.rs
  crates/curp/src/rpc/reconnect.rs
  crates/curp/src/server/curp_node/mod.rs
  crates/curp/src/server/mod.rs
  crates/curp/tests/it/common/curp_group.rs
  crates/xline/src/server/auth_wrapper.rs
  crates/xline/src/server/xline_server.rs
Due: none

feat: Add cluster id generation for Membership
  crates/curp/src/member.rs
Due: none
