Repository xline-kv/Xline: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -- --check'
  language: rust
  args: []

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: bash -c 'cargo check --all'
  language: rust
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo test
  description: unit test for the project
  entry: bash -c 'cargo test --all-features --all --lib'
  language: rust
  pass_filenames: false

cargo-sort:
  name: Check Cargo.toml is sorted
  description: Ensure Cargo.toml is sorted
  entry: bash -c 'cargo sort --workspace'
  language: rust
  pass_filenames: false

cargo-hakari:
  name: Check if workspace-hack works correctly
  description: Ensure workspace-hack works correctly
  entry: bash -c 'cargo hakari generate --diff && cargo hakari manage-deps --dry-run && cargo hakari verify'
  language: rust
  pass_filenames: false

chore: bump itertools version
  Cargo.lock
  benchmark/src/runner.rs
  curp-test-utils/Cargo.toml
  curp/Cargo.toml
  simulation/Cargo.toml
  workspace-hack/Cargo.toml
  xline/Cargo.toml
  xlineapi/Cargo.toml
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

chore: impl Default for configs
  utils/src/config.rs
  xline-test-utils/src/lib.rs
  xline/src/main.rs
  xline/tests/it/maintenance_test.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: support start CurpGroup with external configuration
  curp/tests/it/common/curp_group.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: remove run_from_listener
  curp/src/server/mod.rs
  curp/tests/it/common/curp_group.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: support start xline Cluster with external configuration
  utils/src/config.rs
  xline-test-utils/src/lib.rs
  xline/tests/it/maintenance_test.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: use Vec instead of HashMap in xline test
  xline-test-utils/src/bin/test_cluster.rs
  xline-test-utils/src/lib.rs
  xline/tests/it/cluster_test.rs
  xline/tests/it/maintenance_test.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: fix test_status
  xline/tests/it/maintenance_test.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: create RawCurp and Context by builder pattern
  curp-external-api/src/role_change.rs
  curp-test-utils/src/lib.rs
  curp/src/server/curp_node.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/state.rs
  curp/src/server/raw_curp/tests.rs
  xline/src/state.rs
  xline/tests/it/maintenance_test.rs
Due: cargo-check, cargo-clippy, cargo-test

docs: add dependency on protobuf-compiler in xline-client/README.md
  xline-client/README.md
Due: none

fix: upgrade the dependent version to fix audit
  Cargo.lock
  benchmark/Cargo.toml
  workspace-hack/Cargo.toml
  xline/Cargo.toml
  xlinectl/Cargo.toml
Due: cargo-sort, cargo-hakari

ci: update code cov format
  .github/workflows/pull_request.yml
  ci/scripts/upload-codecov.sh
Due: none

chore: fix clippy lints
  xline-test-utils/src/lib.rs
  xline/src/server/xline_server.rs
  xline/src/xline_utils/args.rs
  xline/src/xline_utils/init_trace.rs
  xline/src/xline_utils/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: optimized the Xline startup process
  xline-test-utils/src/lib.rs
  xline/src/lib.rs
  xline/src/main.rs
  xline/src/server/xline_server.rs
  xline/src/xline_utils/args.rs
  xline/src/xline_utils/init_trace.rs
  xline/src/xline_utils/mod.rs
  xline/tests/it/auth_test.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: fix madsim
  simulation/src/xline_group.rs
  simulation/tests/it/xline.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: create RawCurp and Context by builder pattern
  curp-external-api/src/role_change.rs
  curp-test-utils/src/lib.rs
  curp/src/server/curp_node.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/state.rs
  curp/src/server/raw_curp/tests.rs
  xline/src/state.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: refactor state to StateMut and StateStatic
  curp/src/client/mod.rs
  curp/src/client/state.rs
  curp/src/client/tests.rs
  curp/src/client/unary.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: isolate client state
  curp/src/client/mod.rs
  curp/src/client/retry.rs
  curp/src/client/state.rs
  curp/src/client/tests.rs
  curp/src/client/unary.rs
  curp/src/rpc/connect.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: replace debug to info
  curp/src/client/state.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: move leadership when old leader shutdown
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/tests.rs
Due: cargo-check, cargo-clippy, cargo-test

ci: add push trigger
  .github/workflows/pull_request.yml
Due: none

refactor: update default_initial_retry_timeout to 1500ms
  utils/src/config.rs
  xline/tests/it/maintenance_test.rs
Due: cargo-check, cargo-clippy, cargo-test

docs: update README doc
  README.md
Due: none

fix: fix the calculation logic of superquorum
  curp/src/client/unary.rs
  curp/src/lib.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/state.rs
  curp/src/server/raw_curp/tests.rs
Due: cargo-check, cargo-clippy, cargo-test

style: format code
  benchmark/src/bench_client.rs
  curp/src/client/retry.rs
  curp/src/client/unary.rs
  curp/src/lib.rs
  curp/src/log_entry.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/state.rs
  curp/src/server/spec_pool.rs
  curp/src/server/storage/db.rs
  curp/src/server/storage/wal/codec.rs
  utils/src/config.rs
  xline-client/src/clients/kv.rs
  xline-client/tests/it/auth.rs
  xline-client/tests/it/kv.rs
  xline-client/tests/it/lease.rs
  xline-client/tests/it/lock.rs
  xline-client/tests/it/maintenance.rs
  xline/src/server/maintenance.rs
  xline/src/storage/db.rs
  xlineapi/src/command.rs
  xlineapi/src/execute_error.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: update xline version in Cargo.toml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  Cargo.lock
  xline/Cargo.toml
Due: cargo-sort, cargo-hakari

chore: filter push in pull request ci
  .github/workflows/pull_request.yml
Due: none

feat: implement lease manager
  Cargo.lock
  curp/Cargo.toml
  curp/src/rpc/mod.rs
  curp/src/server/lease_manager.rs
  curp/src/server/mod.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

Path conditions:
  cargo-fmt: any of: ^(?!abi)\.rs$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-sort: any of: Cargo\.toml
  cargo-hakari: any of: Cargo\.(toml|lock)
