Repository xline-kv/Xline: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -- --check'
  language: rust
  args: []

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: bash -c 'cargo check --all'
  language: rust
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo test
  description: unit test for the project
  entry: bash -c 'cargo test --all-features --all --lib'
  language: rust
  pass_filenames: false

cargo-sort:
  name: Check Cargo.toml is sorted
  description: Ensure Cargo.toml is sorted
  entry: bash -c 'cargo sort --workspace'
  language: rust
  pass_filenames: false

cargo-hakari:
  name: Check if workspace-hack works correctly
  description: Ensure workspace-hack works correctly
  entry: bash -c 'cargo hakari generate --diff && cargo hakari manage-deps --dry-run && cargo hakari verify'
  language: rust
  pass_filenames: false

chore: filter push in pull request ci
  .github/workflows/pull_request.yml
Due: none

feat: implement lease keep alive
  curp-test-utils/src/lib.rs
  curp/src/rpc/connect.rs
  curp/src/server/curp_node.rs
  curp/src/server/lease_manager.rs
  curp/src/server/mod.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/tests.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: add bypass trait for metadata
  curp/src/rpc/connect.rs
Due: cargo-check, cargo-clippy, cargo-test

style: format code
  benchmark/src/bench_client.rs
  curp/src/client/retry.rs
  curp/src/client/unary.rs
  curp/src/lib.rs
  curp/src/log_entry.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/state.rs
  curp/src/server/spec_pool.rs
  curp/src/server/storage/db.rs
  curp/src/server/storage/wal/codec.rs
  utils/src/config.rs
  xline-client/src/clients/kv.rs
  xline-client/tests/it/auth.rs
  xline-client/tests/it/kv.rs
  xline-client/tests/it/lease.rs
  xline-client/tests/it/lock.rs
  xline-client/tests/it/maintenance.rs
  xline/src/server/maintenance.rs
  xline/src/storage/db.rs
  xlineapi/src/command.rs
  xlineapi/src/execute_error.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: fix the calculation logic of superquorum
  curp/src/client/unary.rs
  curp/src/lib.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/state.rs
  curp/src/server/raw_curp/tests.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: allow a single node cluster to scale out to a multiple nodes cluster
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/tests.rs
  curp/tests/it/server.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: rename modules and do some small refactor
  xline-test-utils/src/lib.rs
  xline/src/lib.rs
  xline/src/main.rs
  xline/src/server/xline_server.rs
  xline/src/utils/args.rs
  xline/src/utils/init_trace.rs
  xline/src/utils/mod.rs
  xline/src/utils/trace.rs
  xline/tests/it/auth_test.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: code smell
  curp/src/rpc/connect.rs
  curp/src/server/lease_manager.rs
  curp/src/server/raw_curp/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: remove unused file and modify some log's level
  xline/src/server/xline_server.rs
  xline/src/utils/init_trace.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: fix madsim
  simulation/src/xline_group.rs
  simulation/tests/it/xline.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: fix clippy lints
  xline-test-utils/src/lib.rs
  xline/src/server/xline_server.rs
  xline/src/xline_utils/args.rs
  xline/src/xline_utils/init_trace.rs
  xline/src/xline_utils/mod.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: optimized the Xline startup process
  xline-test-utils/src/lib.rs
  xline/src/lib.rs
  xline/src/main.rs
  xline/src/server/xline_server.rs
  xline/src/xline_utils/args.rs
  xline/src/xline_utils/init_trace.rs
  xline/src/xline_utils/mod.rs
  xline/tests/it/auth_test.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: implement lease manager
  Cargo.lock
  curp/Cargo.toml
  curp/src/rpc/mod.rs
  curp/src/server/lease_manager.rs
  curp/src/server/mod.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

refactor: implement TaskManager
  Cargo.lock
  curp/src/server/curp_node.rs
  utils/Cargo.toml
  utils/src/lib.rs
  utils/src/task_manager/mod.rs
  utils/src/task_manager/tasks.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

chore: remove old shutdown channel
  curp/src/server/cmd_worker/conflict_checked_mpmc.rs
  curp/src/server/raw_curp/tests.rs
  utils/src/lib.rs
  utils/src/shutdown.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: use TaskManager to manage tasks
  curp/src/server/cmd_worker/conflict_checked_mpmc.rs
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/gc.rs
  curp/src/server/mod.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/tests.rs
  curp/tests/it/common/curp_group.rs
  simulation/src/curp_group.rs
  xline-test-utils/src/lib.rs
  xline/src/main.rs
  xline/src/server/lease_server.rs
  xline/src/server/watch_server.rs
  xline/src/server/xline_server.rs
  xline/src/storage/compact/mod.rs
  xline/src/storage/compact/periodic_compactor.rs
  xline/src/storage/compact/revision_compactor.rs
  xline/src/storage/kv_store.rs
  xline/src/storage/kvwatcher.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: update memory ordering of state
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/gc.rs
  curp/src/server/mod.rs
  curp/src/server/raw_curp/tests.rs
  curp/tests/it/common/curp_group.rs
  curp/tests/it/server.rs
  utils/src/task_manager/mod.rs
  xline/src/server/watch_server.rs
Due: cargo-check, cargo-clippy, cargo-test

test: add a test to cover inner_shutdown
  curp/src/server/raw_curp/mod.rs
  utils/src/task_manager/mod.rs
  utils/src/task_manager/tasks.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: bump otlp version
  Cargo.lock
  utils/Cargo.toml
  utils/src/tracing.rs
  workspace-hack/Cargo.toml
  xline/Cargo.toml
  xline/src/main.rs
  xline/src/utils/trace.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort, cargo-hakari

chore: add cargo machete into pre-commit hook
  .pre-commit-config.yaml
Due: none

ci: add machete dep
  .github/workflows/pull_request.yml
  ci/Dockerfile
  ci/build-env.sh
Due: none

ci: update relative path
  .github/workflows/validation.yml
Due: none

Path conditions:
  cargo-fmt: any of: ^(?!abi)\.rs$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-sort: any of: Cargo\.toml
  cargo-hakari: any of: Cargo\.(toml|lock)
