Repository xline-kv/Xline: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-test, cargo-sort

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo test
  description: unit test for the project
  entry: bash -c 'cargo test --all-features --all --lib'
  language: rust
  pass_filenames: false

cargo-sort:
  name: Check Cargo.toml is sorted
  description: Ensure Cargo.toml is sorted
  entry: bash -c 'cargo sort --workspace'
  language: rust
  pass_filenames: false

chore: use workspace hack
  .config/hakari.toml
  Cargo.lock
  Cargo.toml
  benchmark/Cargo.toml
  curp-external-api/Cargo.toml
  curp-test-utils/Cargo.toml
  curp/Cargo.toml
  engine/Cargo.toml
  simulation/Cargo.toml
  test-macros/Cargo.toml
  utils/Cargo.toml
  workspace-hack/.gitattributes
  workspace-hack/Cargo.toml
  workspace-hack/build.rs
  workspace-hack/src/lib.rs
  xline-client/Cargo.toml
  xline-test-utils/Cargo.toml
  xline/Cargo.toml
  xlineapi/Cargo.toml
  xlinectl/Cargo.toml
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort

refactor: refactor connect from macros to function
  curp/src/client.rs
  curp/src/members.rs
  curp/src/rpc/connect.rs
  curp/src/rpc/mod.rs
  curp/src/server/curp_node.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: add hakari pre-commit hook
  .config/hakari.toml
  .pre-commit-config.yaml
Due: none

ci: pr checks
  .github/workflows/build_env.yml
  .github/workflows/pull_request.yml
  ci/Dockerfile
  ci/scripts/check-trailing-spaces.sh
  curp/build.rs
  xlineapi/build.rs
Due: cargo-check, cargo-clippy, cargo-test

ci: support merge queue
  .github/workflows/cache_clean.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docker_image.yml
  .github/workflows/gen_release_note.yml
  .github/workflows/merge_image.yml
  .github/workflows/merge_queue.yml
  .github/workflows/pull_request.yml
  .github/workflows/validation.yml
  .pre-commit-config.yaml
Due: none

chore: dockerize benchmark & validation
  .github/workflows/benchmark.yml
  .github/workflows/merge_queue.yml
  .github/workflows/pull_request.yml
  ci/Dockerfile
  ci/build-env.sh
Due: none

ci: enable sccache
  .github/workflows/pull_request.yml
  ci/Dockerfile
Due: none

ci: add build env image
  .github/workflows/build_env.yml
  ci/Dockerfile
  ci/build-env.sh
  ci/rust-toolchain.toml
  rust-toolchain.toml
Due: none

ci: dockerize checks & coverage
  .github/workflows/build_env.yml
  .github/workflows/cache_clean.yml
  .github/workflows/coverage.yml
  .github/workflows/merge_queue.yml
  .github/workflows/pull_request.yml
  ci/Dockerfile
  ci/build-env.sh
  curp/build.rs
  xlineapi/build.rs
Due: cargo-check, cargo-clippy, cargo-test

ci: hakari fix
  .github/workflows/pull_request.yml
Due: none

chore: remove some stale scripts
  .github/scripts/install_deps.sh
  .github/workflows/benchmark.yml
  .github/workflows/merge_queue.yml
  .github/workflows/pull_request.yml
  ci/Dockerfile
  ci/build-env.sh
Due: none

refactor: refactor curp error
  curp/proto/inner_message.proto
  curp/src/client.rs
  curp/src/error.rs
  curp/src/rpc/connect.rs
  curp/src/rpc/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/mod.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/tests.rs
  curp/tests/it/server.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: fix curp test
  curp/src/client.rs
  curp/src/rpc/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/raw_curp/mod.rs
  simulation/src/curp_group.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: remove rust-cache
  .github/workflows/docker_image.yml
  .github/workflows/merge_queue.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

doc: move some files
  .github/workflows/docker_image.yml
  .github/workflows/release.yml
  README.md
  ci/cross/Dockerfile.aarch64-unknown-linux-gnu
  ci/cross/Dockerfile.x86_64-unknown-linux-gnu
  ci/scripts/install_macos_deps.sh
  doc/img/cncf-logo.png
  doc/img/xline-key-perf.png
  doc/img/xline_test_deployment.jpg
Due: none

chore: add hint for running test network env
  .github/workflows/docker_image.yml
  .github/workflows/merge_queue.yml
  .github/workflows/release.yml
  ci/Dockerfile
  ci/build-env.sh
  scripts/benchmark.sh
  scripts/quick_start.sh
Due: none

test: break hakari
  .github/workflows/pull_request.yml
  workspace-hack/Cargo.toml
Due: cargo-sort

build: modify the dockerfile and bootup logic
  doc/quick-start/Dockerfile
  scripts/Dockerfile
  scripts/quick_start.sh
  scripts/start_xline.sh
Due: none

ci: build env
  .github/workflows/build_env.yml
  ci/Dockerfile
  ci/build-env.sh
  ci/rust-toolchain.toml
  rust-toolchain.toml
Due: none

chore: update comments
  curp/src/server/curp_node.rs
  curp/src/server/raw_curp/mod.rs
  utils/src/shutdown.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: add a limit when leader tries to shtuduwn a node that has been shutdown
  curp/src/server/curp_node.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: use command_from_request_wrapper in xline-client
  xline-client/src/clients/auth.rs
  xline-client/src/clients/kv.rs
  xline-client/src/clients/lease.rs
  xline-client/src/clients/lock.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: command_from_request_wrapper logic
  xline/src/server/auth_server.rs
  xline/src/server/command.rs
  xline/src/server/kv_server.rs
  xline/src/server/lease_server.rs
  xline/src/server/lock_server.rs
  xline/src/server/xline_server.rs
  xlineapi/src/command.rs
Due: cargo-check, cargo-clippy, cargo-test

test: add test for txn command keys
  xlineapi/src/command.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: implement command keys generation
  curp/src/server/cmd_worker/conflict_checked_mpmc.rs
  xline/src/server/command.rs
  xlineapi/src/command.rs
Due: cargo-check, cargo-clippy, cargo-test

fix: fix cluster shutdown after member add
  curp/proto/inner_message.proto
  curp/src/rpc/connect.rs
  curp/src/rpc/mod.rs
  curp/src/server/cmd_worker/mod.rs
  curp/src/server/curp_node.rs
  curp/src/server/mod.rs
  curp/src/server/raw_curp/mod.rs
  curp/src/server/raw_curp/state.rs
  curp/src/server/raw_curp/tests.rs
  utils/src/shutdown.rs
Due: cargo-check, cargo-clippy, cargo-test

ci: remove validation_lock_client compile in validation action
  .github/workflows/validation.yml
Due: none

chore: remove useless modules
  Cargo.lock
  benchmark/src/bench_client.rs
  curp/test.sst
  xline/src/client/mod.rs
  xlineapi/Cargo.toml
  xlineapi/src/etcd_convert.rs
  xlineapi/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort

test: add xline madsim test
  benchmark/src/bench_client.rs
  simulation/src/lib.rs
  simulation/src/xline_group.rs
  simulation/tests/it/main.rs
  simulation/tests/it/xline.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: refactor to add xline to simulation's dependencies
  Cargo.lock
  simulation/Cargo.toml
  xline-client/src/clients/auth.rs
  xline-client/src/clients/cluster.rs
  xline-client/src/clients/lease.rs
  xline-client/src/clients/maintenance.rs
  xline-client/src/clients/watch.rs
  xline-client/src/lib.rs
  xline/src/server/xline_server.rs
Due: cargo-check, cargo-clippy, cargo-test, cargo-sort

fix: shutdown cluster before drop runtime
  xline-test-utils/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-test

refactor: share `KvStoreInner` between `KvStore` and `KvWatcher`
  curp/src/server/curp_node.rs
  curp/test.sst
  xline/src/server/watch_server.rs
  xline/src/server/xline_server.rs
  xline/src/storage/kv_store.rs
  xline/src/storage/kvwatcher.rs
Due: cargo-check, cargo-clippy, cargo-test

chore: update servers type to `Vec`
  xline-test-utils/src/lib.rs
  xline/src/storage/kv_store.rs
Due: cargo-check, cargo-clippy, cargo-test

feat: add `size` and `file_size` interface to `StorageEngine`
  engine/src/api/engine_api.rs
  engine/src/memory_engine.rs
  engine/src/mock_rocksdb_engine.rs
  engine/src/proxy.rs
  engine/src/rocksdb_engine.rs
  xline/src/storage/db.rs
  xline/src/storage/storage_api.rs
Due: cargo-check, cargo-clippy, cargo-test

Path conditions:
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-sort: any of: Cargo\.toml and \.toml$
